.mat-noscore, .mat-noscore:disabled {
    background-color: gray;
    color: #fff;
}

.mat-winner, .mat-winner:disabled {
    background-color: green;
    color: #fff;
}

.mat-loser, .mat-loser:disabled {
    background-color: red;
    color: #fff;
}