<div *ngIf="match" class="match">
  <button mat-raised-button [disabled]="!ownMatch" [color]="match.result===1 ? 'winner' : (match.result===-1 ? 'loser' : 'noscore')"
    (click)="setResult(1)">
    {{ match.white.name }}
    <ng-container *ngIf="match.adjustment !== undefined">
      {{ match.adjustment.shift.white }}
    </ng-container>
  </button>
  <button mat-raised-button [disabled]="!ownMatch" (click)="setResult(0)">
    <ng-container *ngIf="match.result === 0">
      draw
    </ng-container>
    vs
  </button>
  <button mat-raised-button [disabled]="!ownMatch" [color]="match.result===-1 ? 'winner' : (match.result===1 ? 'loser' : 'noscore')"
    (click)="setResult(-1)">
    {{ match.black.name }}
    <ng-container *ngIf="match.adjustment !== undefined">
      {{ match.adjustment.shift.black }}
    </ng-container>
  </button>
  <button mat-button *ngIf="ownMatch" (click)="delete(match)">
    <mat-icon>delete</mat-icon>
  </button>
</div>