<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Player 1</mat-label>
    <input type="text" matInput formControlName="white" [matAutocomplete]="autoWhite">
    <mat-autocomplete #autoWhite="matAutocomplete" [displayWith]="displayName" (optionSelected)="onPlayerSelect($event)">
      <mat-option *ngFor="let white of whiteFilteredPlayers | async" [value]="white">{{ white.name }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Player 2</mat-label>
    <input type="text" matInput formControlName="black" [matAutocomplete]="autoBlack">
    <mat-autocomplete #autoBlack="matAutocomplete" [displayWith]="displayName" (optionSelected)="onPlayerSelect($event)">
      <mat-option *ngFor="let black of blackFilteredPlayers | async" [value]="black">{{ black.name }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="!form.valid">Submit</button>

</form>