<div class="row">
  <div class="col" *ngFor="let league of leagues | async">
    <mat-card>
      <mat-card-title>
        <a [routerLink]="['/league', league.id]" class="btn text-default">
          {{ league.name }}
        </a>
      </mat-card-title>
      <mat-card-content>
        k-factor: {{ league.kfactor }}
      </mat-card-content>
      <mat-card-actions *ngIf="auth.user | async as user">
        <div *ngIf="user.uid == league.uid">
          <a class="btn text-danger" (click)="onDelete(league.id)">
              <mat-icon>delete</mat-icon>
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>