<a [routerLink]="['/']" class="btn text-default">
  leagues
</a>
<div class="league-detail" *ngIf="league$ | async as league; else loading">
  <h1>{{ league.name }}</h1>
    <div *ngIf="user && user.uid == league.uid">
      <app-league-form [league$]="league$"></app-league-form>

      <h3>Match Form</h3>
      <app-match-create></app-match-create>

      <h3>Player Form</h3>
      <app-player-create></app-player-create>
    </div>

    <div class="row">
      <div class="col-lg-4 order-lg-2">
        <h3>Matches</h3>
        <app-match-list [ownLeague]="user && user.uid===league.uid"></app-match-list>
      </div>
      <div class="col-lg-8">
        <h3>Ranking</h3>
        <app-player-list [ownLeague]="user && user.uid===league.uid"></app-player-list>
      </div>
    </div>
</div>

<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>