<a [routerLink]="['/']" class="btn text-default">
  leagues
</a>
<div class="league-detail" *ngIf="league | async as league; else loading">
  <h1>{{ league.name }}</h1>
  <ng-container *ngIf="auth.user | async as user">
    <div *ngIf="user.uid == league.uid">
      <app-league-form></app-league-form>

      <h3>Match Form</h3>
      <app-match-create></app-match-create>

      <h3>Player Form</h3>
      <app-player-create></app-player-create>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2">
        <h3>Matches</h3>
        <app-match-list [ownLeague]="user.uid===league.uid"></app-match-list>
      </div>
      <div class="col-md-8">
        <h3>Ranking</h3>
        <app-player-list [ownLeague]="user.uid===league.uid"></app-player-list>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>