.google-login {
    width: 191px;
    height: 46px;
    background-repeat: no-repeat;
    background-image: url(/assets/buttons/btn_google_signin_light_normal_web.png);
}

.w-100 {
    width: 100%;
}

.social-login {
    display: none
}